<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to the collector app</title>
    <script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.6.0/stitch.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css"></head>
<body>
  <div id="login">
    api-key: <input v-model="apiKey"/><br/>
    <button v-on:click="login()">Login</button>
  </div> 
<header>
  <h2>Comic app - v0.1</h2>
</header>

<section>
  <nav>
  <div id="comic-list">
    Title: <input v-model="message" v-on:change="titleSearch"/><br/>
    <button v-on:click="previous">previous</button><button v-on:click="next">next</button>
    <table>
          <tr v-for="comic in comicsFound">
            <td><a href="#" @click="showDetails(comic._id)">{{ comic.title }}<span v-if="comic.subtitle"> - {{comic.subtitle}}</span></a></td>
          </tr>
        </table>
      </div>
</nav>
  
<div id="comic-detail">
  <div class="comic-detail">
      <h3>Details</h3>
        Title: <input v-model="comic.title"/><br/>
        Subtitle: <input v-model="comic.subtitle"/><br/>
        Author: <input v-model="comic.author"/><br/>
        Publisher: <input v-model="comic.publisher"/><br/>
        Year: <input v-model="comic.year"/><br/>
        Edition: <input v-model="comic.edition"/><br/>
        Printing: <input v-model="comic.printing"/><br/>
        Country: <input v-model="comic.country"/><br/>
        ISBN (13): <input v-model="comic.isbn13"/><br/>
        <button v-on:click="saveComic">Save</button><br/>
        <button v-on:click="newComic(false)">New Comic</button>&nbsp;<button v-on:click="newComic(true)">New Comic - similar</button>
  </div>
  <div class="comics-owned">
      <h3>Owned</h3>
        <table border="1">
            <tr>
                <th>Condition</th>
                <th>Price</th>
                <th>&nbsp;</th>
            </tr>
            <tr v-for="(owned, index) in comic.owned_comics">
                <td>{{ owned.condition }}</td>
                <td>{{ owned.price.value }} {{ owned.price.currency }}</td>
                <td><button v-on:click="deleteCopy(index)">Delete</button></td>
            </tr>
            <tr>
              <td><input v-model="newOwnedComic.condition"/></td>
              <td><input v-model="newOwnedComic.price.value" size="5"/><input v-model="newOwnedComic.price.currency" size="3"/></td>
              <td><button v-on:click="addCopy()">Add</button></td>
            </tr>
        </table>
    </div>
</section>

<footer>
    v0.1
</footer>
<div id="app-messages" v-show="seen">
    <span :class="msgColor">{{message}}</span>
  </div>

<script>
    var apiKey = null;
    const MSG_TIMEOUT=5000
    const RESULTS_PER_PAGE = 20
    const client = stitch.Stitch.initializeDefaultAppClient('collector-app-rzoms');
    const db = client.getServiceClient(stitch.RemoteMongoClient.factory, 'mongodb-atlas').db('collection');
    var clientConn = null

    var loginDialog = new Vue({
      el: '#login',
      data: {
        apiKey: null
      },
      methods: {
        login: function() {
          clientConn = client.auth.loginWithCredential(new stitch.ServerApiKeyCredential(this.apiKey))
            .then(user => {
              document.getElementById("login").style.display = "none";
              appMessages.showMessage(user.profile.name + ' logged in.')
            })
            .catch(err => appMessages.showError('Login failed ' + err.message))
        }
      }
    })
    var comicDetail = new Vue({
        el: '#comic-detail',
        data: {
            comic: {},
            newOwnedComic: {price: {}}
        },
        methods: {
            showDetails: function(id) {
                clientConn.then(user =>
                    db.collection('comics').findOne(
                    { '_id': id})
                    .then(doc => {
                        this.comic = doc
                    }
                    )
                )
            },
            saveComic: function() {
                this.comic.owner_id = client.auth.user.id
                if(this.comic._id === null || this.comic._id === undefined) {
                    this.comic._id = new stitch.BSON.ObjectId()
                }
                //TODO: skal man bruge $set?
                //db.collection('comics').updateOne({_id: this.comic._id}, {$set: this.comic}, {upsert: true})
                db.collection('comics').updateOne({_id: this.comic._id}, this.comic, {upsert: true})
                    .then(result => {
                        appMessages.showMessage('comic saved')
                        if(this.comic.title.startsWith(comicList.message)) {
                            //need to refresh search result, as the addition might have added to the list
                            comicList.titleSearch()
                        }
                    })
                    .catch(err => appMessages.showError('insert failed ' + err.message))
            },
            deleteCopy: function(idx) {
              this.comic.owned_comics.splice(idx, 1)
            },
            addCopy: function() {
              newComicState = {}
              Object.assign(newComicState, this.comic)
              if(newComicState.owned_comics === undefined) {
                newComicState.owned_comics = []
              }
              newComicState.owned_comics.push(this.newOwnedComic)
              this.newOwnedComic = {price: {}}
              this.comic = newComicState
            },
            newComic: function(similar) {
                if(similar) {
                    this.comic._id = undefined
                } else {
                    this.comic= {}
                }
                newOwnedComic={}
            }
        }
    })

     var comicList = new Vue({
      el: '#comic-list',
      data: {
        comicsFound: [],
        message: "",
        allComics: [],
        index:0
      },
      methods: {
        titleSearch: function() {
          clientConn.then(user => {
            comicList.index = 0
            comicList.comicsCursor = db.collection('comics').find(
              { 'title': {$regex: this.message}}, 
              { limit: 100})
              comicList.comicsCursor.asArray()
              .then(docs => {
                comicList.allComics = docs
                comicList.comicsFound = comicList.allComics.slice(0,RESULTS_PER_PAGE)
              }
            )
            .catch(err => appMessages.showError('search failed ' + err.message))
          })
        },
        showDetails: function(id) {
            comicDetail.showDetails(id)
        },
        next: function() {
          comicList.index = Math.min(Math.ceil(comicList.allComics.length/RESULTS_PER_PAGE) - 1, ++comicList.index)
          idx = comicList.index
          comicList.comicsFound = comicList.allComics.slice(idx*RESULTS_PER_PAGE,idx*RESULTS_PER_PAGE + RESULTS_PER_PAGE)
        },
        previous: function() {
          comicList.index = Math.max(0, --comicList.index)
          idx = comicList.index
          comicList.comicsFound = comicList.allComics.slice(idx*RESULTS_PER_PAGE,idx*RESULTS_PER_PAGE + RESULTS_PER_PAGE)
        }
      }
    })
    var appMessages = new Vue({
      el: '#app-messages',
      data: {
        message: "",
        seen: false,
        msgColor: "bold-green"
      },
      methods: {
        reset: function() {
          this.message=""
          this.seen=false
        },
        showError(err) {
          this.msgColor="bold-red"
          this.message=err
          this.seen=true
          setTimeout(() => this.reset(), MSG_TIMEOUT)
        },
        showMessage(msg) {
          this.msgColor="bold-green"
          this.message=msg
          this.seen=true
          setTimeout(() => this.reset(), MSG_TIMEOUT)
        }
      }
    })
              </script>
</body>
</html>
